/Ejer2/Ejercicio2Cliente/nbproject/private/
/Ejer2/Ejercicio2Cliente/build/
/Ejer2/Ejercicio2Servidor/build/
/Tarea5/nbproject/private/
/Tarea5/build/
/ServerBox/nbproject/private/
/EjercicioBox_/ServerBox/nbproject/private/
/EjercicioBox_/EjercicioBox/build/
/EjercicioBox_/EjercicioBox/nbproject/private/