/Ejer2/Ejercicio2Cliente/nbproject/private/
/Ejer2/Ejercicio2Cliente/build/
/Ejer2/Ejercicio2Servidor/build/
/Tarea5/nbproject/private/
/Tarea5/build/
/ServerBox/nbproject/private/
/EjercicioBox_/ServerBox/nbproject/private/
/EjercicioBox_/EjercicioBox/build/
/EjercicioBox_/EjercicioBox/nbproject/private/
/Tarea8Producto/nbproject/private/
/Tarea8/Tarea8Producto/build/
/EjercicioBox_/ServerBox/build/
/EjercicioBox_/EjercicioBox/dist/
/Tarea13/Servidor/nbproject/private/
/Tarea13/Cliente/nbproject/private/
/Tarea13/Servidor/build/
/Tarea13/Cliente/build/
/Tarea13/InterfazRMI/nbproject/private/
/Tarea13/InterfazRMI/build/
/Tarea13/InterfazRMI/dist/
/Ejercicio8/AplicacionWeb/nbproject/private/
/Ejercicio8/AplicacionWeb/build/
/Ejercicio8/AplicacionWeb/dist/
/Ejercicio8/WebApp/nbproject/private/
/Ejercicio8/WebApp/build/
/Ejercicio8/webApp/nbproject/private/
/Ejercicio8/webApp/build/
/Ejercicio8/ClienteEscritorio/nbproject/private/
/Ejercicio8/ServidorRMI/nbproject/private/
/Ejercicio8/InterfazRMI/nbproject/private/
/Ejercicio8/ClienteEscritorio/build/
/Ejercicio8/InterfazRMI/build/
/Ejercicio8/InterfazRMI/dist/
/Ejercicio8/ServidorRMI/build/
/Ejercicio8/webApp/dist/
/Tarea16/Tarea16/nbproject/private/
/Tarea16/Tarea16/build/
/TareaJPA/nbproject/private/
/JPAWeb/nbproject/private/
/TareaJPA/build/
/JPAWEB/nbproject/private/
/JPAWEB/build/
/Tarea14/nbproject/private/
/Tarea14CalcuRMIWeb/nbproject/private/
/Tarea14/Tarea14CalcuRMI/nbproject/private/
/Tarea14/InterfazRMI/build/
/Tarea14/InterfazRMI/dist/
/Tarea14/InterfazRMI/nbproject/private/
/Tarea14/ServidorRMI/build/
/Tarea14/ServidorRMI/nbproject/private/
/Tarea14/webApp/build/
/Tarea14/webApp/dist/
/Tarea14/webApp/nbproject/private/
/Tarea14/Cliente/build/
/Tarea14/Cliente/nbproject/private/
/Tarea14/Servidor/build/
/Tarea14/Servidor/nbproject/private/